body {
  font-family: Calibri, "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  font-size: 11;
}

.form-and-errors-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 5px solid rgb(60, 60, 59);
  border-radius: 25px;
  width: 340px;
  padding: 20px;
  background-color: rgb(137, 200, 46);
  color: rgb(60, 60, 59);
  height: 150px;
  position: relative;
}

.email-label,
.name-label,
.credit-card-label {
  width: 25%;
  font-size: 16px;
}

#Name,
#Email,
#Credit-Card-I {
  padding: 5px;
  margin: 5px;
  width: 250px;
}

form {
  display: table;
  text-align: center;
}
p {
  display: table-row;
  text-align: center;
}
label {
  display: table-cell;
}

.submit-button {
  background-color: rgb(231, 0, 100);
  border: 1px solid rgb(60, 60, 59);
  border-radius: 5px;
  width: 70px;
  height: 25px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#center {
  margin-top: 20px;
}

.invalid-border {
  border: 3px solid rgb(231, 0, 100);
}

.valid-border {
  border: 3px solid rgb(73, 114, 15);
}

#name-error,
#email-error,
#card-error {
  font-weight: bold;
  color: rgb(231, 0, 100);
}
#name-valid,
#email-valid,
#card-valid {
  font-weight: bold;
  color: rgb(137, 200, 46);
}
